@import url("./reset.css");
@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@400;700&display=swap");
.body {
  background-image: url("../img/fon.png");
  background-size: 100%;
  font-family: "Ubuntu";
}
.header {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  margin-bottom: 35px;
}
.container {
  max-width: 1366px;
  margin: 0 auto;
}
.header__menu {
  color: #ffffff;
  display: flex;
  justify-content: space-between;
}
.header__menu span:hover {
  color: #01813f;
  transition: 0.5s linear;
  opacity: 0.8;
}
.logo__text {
  font-weight: 700;
  font-size: 22px;
  line-height: 1;
  margin-left: 79px;
  margin-top: 18px;
  margin-bottom: 18px;
}
.header__list {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  gap: 27px;
  padding-right: 79px;
}
.calendar_svg:hover,
.mail_svg:hover,
.compass_svg:hover,
.link__login:hover,
.link__up:hover {
  fill: #01813f;
  transition: 0.5s linear;
  opacity: 0.8;
}
.line {
  width: 1px;
  height: 19px;
  top: 20px;
  background: rgba(255, 255, 255, 0.9);
  mix-blend-mode: normal;
  opacity: 0.5;
}
.link__hover:hover {
  opacity: 0.8;
}
.box {
  max-width: 444px;
  margin: auto;
  background: #ffffff;
  box-shadow: 0px 4px 18px rgba(0, 0, 0, 0.52);
  position: relative;
  align-items: center;
}
.form__list {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 31px;
  margin-bottom: 13px;
}
.title {
  font-weight: 400;
  font-size: 20px;
  line-height: 1;
  color: #434343;
  margin-left: 61px;
}
.title::before {
  content: "";
  width: 18px;
  height: 18px;
  position: absolute;
  background: #3cb878;
  top: 31px;
  left: 0;
}
.login {
  color: #3cb878;
  font-weight: 400;
  font-size: 14px;
  line-height: 1;
  margin-right: 59px;
}
.login:hover {
  text-decoration: underline;
  color: #01813f;
  transition: 0.5s linear;
}
fieldset {
  border: 0 none;
}
.button {
  display: flex;
  justify-content: center;
}
.button button {
  margin-bottom: 31px;
  width: 158px;
  height: 48px;
  border-radius: 5px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  gap: 18px;
  padding-left: 16px;
  display: flex;
  align-items: center;
}
.facebook {
  background: #305db8;
  margin-right: 8px;
}
.facebook:hover {
  background: #022263;
  transition: 1s;
}
.facebook__line {
  background: #0a162f;
  mix-blend-mode: normal;
  opacity: 0.1;
  width: 1px;
  height: 28px;
}
.google {
  background: #df4a32;
}
.google:hover {
  background: #ab1f09;
  transition: 1s;
}
.google__line {
  background: #2b0d09;
  mix-blend-mode: normal;
  opacity: 0.1;
  width: 1px;
  height: 28px;
}
.or__line {
  color: #848484;
  margin-bottom: 12px;
  overflow: hidden;
  text-align: center;
  font-size: 14px;
  line-height: 1;
}
.or__line :before,
.or__line:after {
  content: "";
  display: inline-block;
  width: 152px;
  height: 1px;
  vertical-align: middle;
  border-bottom: 1px solid;
  color: #f2f2f2;
  margin-left: 2px;
  margin-right: 5px;
}
.form input {
  display: block;
  margin: 0 auto;
  margin-bottom: 15px;
  border: 1px solid #f2f2f2;
  border-radius: 4px;
  width: 324px;
  height: 44px;
  padding-left: 20px;
  color: #bebebe;
  opacity: 0.5;
  transition: opacity 0.3s ease;
}
.fieldset input:focus[placeholder] {
  color: #434343;
  opacity: 1;
  transition: opacity 0.3s ease;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
}
input {
  outline: none;
}
.btn {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: -3px;
  padding-bottom: 38px;
}
.btn span {
  color: #3cb878;
}
.btn span:hover {
  text-decoration: underline;
  color: #01813f;
  transition: 0.5s linear;
}
label input {
  display: none;
}
label .span {
  height: 14px;
  width: 14px;
  background: rgba(0, 0, 0, 0.0001);
  border: 1px solid #f2f2f2;
  display: inline-block;
  max-width: 241px;
  font-size: 14px;
  line-height: 14px;
  vertical-align: auto;
  margin-left: -54px;
}
[type="checkbox"]:checked + span:before {
  content: "\2714";
  width: 14px;
  height: 13.5px;
  color: green;
  position: absolute;
}
.register__btn {
  width: 324px;
  height: 46px;
  background: rgba(60, 184, 120, 0.8);
  border-radius: 4px;
  color: #ffffff;
  font-size: 16px;
  line-height: 1;
  margin-top: 20px;
}
.register__btn:hover {
  background: #01813f;
  transition: 1s;
}
